@font-face {
  font-family: "nyt-karnak";
  src: url(https://g1.nyt.com/fonts/family/karnak/karnak-normal-400.woff)
    format("woff");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  color: #000000;
  background: #f6f6ef;
  font-family: "nyt-franklin", "Roboto", "Helvetica Neue", garamond, helvetica,
    sans serif;
}
