#nav {
  color: #000000;
  background: #ff6600;
  padding: 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-family: Verdana, Geneva, sans-serif;
  margin-bottom: 5px;
}

#nav-title {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
}
#nav-logo {
  height: 30px;
  border: 2px solid #ffffff;
  margin-right: 8px;
  vertical-align: middle;
}
#nav-title a {
  color: inherit;
  text-decoration: none;
}
#nav-subtitle {
  position: absolute;
  top: 30px;
  left: 64px;
  font-size: 10px;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 0.117rem;
}
