#nav {
  color: #000000;
  background: #ff6600;
  padding: 10px 20px;
  text-align: left;
  vertical-align: middle;
  font-family: Verdana, Geneva, sans-serif;
}

#nav-title {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}
#nav-logo {
  height: 30px;
  border: 2px solid #ffffff;
  margin-right: 8px;
  vertical-align: middle;
}
#nav-title a {
  color: inherit;
  text-decoration: none;
}
