.error {
  margin: 20px;
  text-align: center;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #616161;
}
.error img {
  max-width: 80%;
}

.error a:hover {
  text-decoration: underline;
}

#footer {
  margin: 60px auto;
  text-align: center;
  color: #9e9e9e;
  font-size: 14px;
}

#footer a:hover {
  text-decoration: underline;
}
